@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Coding ECC</h3>
<h4>Diffie-Helman Key Exchange</h4>
<h6>Elliptic Curve: y<sup>2</sup> = x<sup>3</sup> <span id="curveLittleA">+ 0</span>x <span id="curveLittleB">+ 0</span></h6>
<h6>Field: <strong>F</strong><sub><span id="fieldPrimeP">0</span></sub></h6>
<h6>Basepoint G: [<span id="basepointG">0, 0, 1</span>]</h6>
<h6>|G| = <span id="basepointGOrder">0</span></h6>
<button id="editButton" class="btn btn-primary">Edit Curve</button>
<hr />
<h5>Enter Secret Keys:</h5>
<form id="ECDH">
    <div class="form-group">
        <label for="keyLittleA">a = Alice's Secret K:</label>
        <br />
        <input id="keyLittleA" name="keyLittleA" class="form-control" required type="number" min="1" value="1"/>
    </div>
    <div class="form-group">
        <label for="keyLittleB">b = Bob's Secret K:</label>
        <br />
        <input id="keyLittleB" name="keyLittleB" class="form-control" required type="number" min="1" value="1"/>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Calculate</button>
    </div>
</form>
<hr />
<h6><span id="pointAG">aG = [0, 0, 1]</span></h6>
<h6><span id="pointBG">bG = [0, 0, 1]</span></h6>
<h6>M1 = baG = <span id="pointM1">[0, 0, 1]</span></h6>
<h6>M2 = abG = <span id="pointM2">[0, 0, 1]</span></h6>

<!--Edit Curve Form-->
<div id="editCurveFormDiv" hidden>
    <form id="editCurveForm">
        <div class="form-group row">
            <div class="col-xs-6">
                <label for="formA">Coefficient 'a':</label>
                <input class="form-control" id="formA" type="number" required>
            </div>
            <div class="col-xs-6">
                <label for="formB">Coefficient 'b':</label>
                <input class="form-control" id="formB" type="number" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-6">
                <label for="formP">Field Prime 'p':</label>
                <input class="form-control" id="formP" type="number" min="2" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-6">
                <label for="formX">Basepoint 'x':</label>
                <input class="form-control" id="formX" type="number" min="0" required>
            </div>
            <div class="col-xs-6">
                <label for="formY">Basepoint 'y':</label>
                <input class="form-control" id="formY" type="number" min="0" required>
            </div>
        </div>
    </form>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/main")
}