@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Coding ECC</h3>
<h4>Diffie-Helman Key Exchange</h4>
<h6>Elliptic Curve: y<sup>2</sup> = x<sup>3</sup> + <span id="curveLittleA">0</span>x + <span id="curveLittleB">0</span></h6>
<h6>Field: <strong>F</strong><sub><span id="fieldPrimeP">0</span></sub></h6>
<h6>Basepoint G: [<span id="basepointG">0, 0, 1</span>]</h6>
<h6>|G| = <span id="basepointGOrder">0</span></h6>
<hr />
<h5>Enter Secret Keys:</h5>
<form id="ECDH">
    <div class="form-group">
        <label for="keyLittleA">a = Alice's Secret K:</label>
        <br />
        <input id="keyLittleA" name="keyLittleA" class="form-control" required type="number" min="1" value="1"/>
    </div>
    <div class="form-group">
        <label for="keyLittleB">b = Bob's Secret K:</label>
        <br />
        <input id="keyLittleB" name="keyLittleB" class="form-control" required type="number" min="1" value="1"/>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Calculate</button>
    </div>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/main")
}